<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Bootstrap CSS and Bundle with Popper-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="homepage.css" rel="stylesheet">
        <!-- Required meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Logic Docs ALL</title>
    </head>
    <body>
    <div class="header">
            <h1>Logic Docs</h1>
        </div>

    <div class="container-fluid">
        <div class="img-fluid">
            <div id="image"></div>
                <script>
                    var img = document.createElement("img");
                    img.src = "paper stack.jpg";
                    var div = document.getElementById("image");
                    div.appendChild(img);
                </script>
            </div>
        <div class="section">
            <h3> Easy to access programming language documentation for beginners and experts alike</h3>
            <nav>
                    <a href="JavaScript.html" class="button">JavaScript</a>
                    <a href="HTML.html" class="button">HTML</a>
                    <a href="CSS.html" class="button">CSS</a>
                    <a href="Java.html" class="button">Java</a>
                    <a href="SQL.html" class="button">SQL</a>
                    <a href="Python.html" class="button">Python</a>
                    <a href="PHP.html" class="button">PHP</a>
                    <a href="CSharp.html" class="button">C#</a>
                    <a href="C++.html" class="button">C++</a>
                    <a href="page1.html" class="button">C</a>
            </nav>
        </div>
    </div>
    </body>
</html>

