body {
    background-color: #56AC31;
    color: #071D2E;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin-top: -100px;
}

.header {
    background-color: #31ACA0;
    color: #0A3834;
    font-size: 10rem;
    font-family: papyrus, Stencil Std, Luminari;
    margin-bottom: 10rem;
    padding: 2rem 1rem;
    text-align: center;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.section:hover {
    background-color: #E5DB6A;
    transition: color 3s ease-in-out, background-color 0.20s ease-in-out;
}

.button {
    background-color: #0C8786;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.img-fluid {
    background: url(turtle-texture.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}